@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar{
    display: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 100;
    mix-blend-mode: exclusion ;
}
.heading{
    color: white;
    z-index: -100;
    text-align: center;
    padding-top: 320px;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;

}
section{
    height: 200vh;
}