@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar{
    display: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 100;
    mix-blend-mode: exclusion ;
}
.heading{
    color: white;
    z-index: -100;
    text-align: center;
    padding-top: 320px;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;

}
.subheading{
    color: white;
    z-index: -100;
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;

}
section{
    height: 150vh;
}
.about{
    color: white;
    z-index: -100;
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
    width: 50%;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.chart{
    width: 70vw;
    height: 50vh;
    position: relative;
}
.x{
    background-color: white;
    top: 385px;
    left: 100px;
    position: absolute;
    width: 560px;
    height: 30px;
    border-radius:5px 5px 20px 20px;
}
.js{
    background-color: rgb(26, 59, 248);
    top: 100px;
    left: 140px;
    position: absolute;
    width: 60px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
.css{
    background-color: rgb(22, 216, 135);
    top: 200px;
    left: 280px;
    position: absolute;
    width: 60px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.html{
    background-color: rgb(248, 115, 26);
    top: 150px;
    left: 420px;
    position: absolute;
    width: 60px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}
.react{
    background-color: rgb(224, 211, 26);
    top: 100px;
    left: 560px;
    position: absolute;
    width: 60px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}

.logo{
    width: 50px;
    height: 50px;
    position: absolute;
}
.jslogo{
    top: 50px;
    left: 145px;
}
.csslogo{
    top: 146px;
    left: 286px;
}
.htmllogo{
    top: 97px;
    left: 433px;
}
.reactlogo{
    top: 50px;
    left: 566px;
}

@keyframes wipe-enter {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1,.9);
	}
    100% {
		transform: scale(1, 1);
	}
}

    .graphs {
      animation-name: wipe-enter;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

@media only screen and (max-device-width: 1366px) {
    .about{
        color: white;
        z-index: -100;
        text-align: left;
        padding-top: 10px;
        padding-left: 50px;
        width: 100%;
        font-size: 50px;
        font-family: 'Bebas Neue', cursive;
    }
    .subheading{
        color: white;
        z-index: -100;
        text-align: left;
        padding-top: 10px;
        padding-left: 50px;
        font-size: 100px;
        font-family: 'Bebas Neue', cursive;
    
    }
    .chart{
        width: 100vw;
        height: 50vh;
        position: absolute;
        left: 30%;
        transform: translate(-50%,0%);
    }
}